@model MVCMontadoraPP.Models.Funcionario

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Funcionario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <label asp-for="Nome_Funcionario" class="control-label"></label>
                <input asp-for="Nome_Funcionario" class="form-control" />
                <span asp-validation-for="Nome_Funcionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargo_Funcionario" class="control-label"></label>
                <input asp-for="Cargo_Funcionario" class="form-control" />
                <span asp-validation-for="Cargo_Funcionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF_Funcionario" class="control-label"></label>
                <input asp-for="CPF_Funcionario" class="form-control" />
                <span asp-validation-for="CPF_Funcionario" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="DataNascimento_Funcionario" class="control-label"></label>
                <input asp-for="DataNascimento_Funcionario" class="form-control" />
                <span asp-validation-for="DataNascimento_Funcionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contato_Funcionario" class="control-label"></label>
                <input asp-for="Contato_Funcionario" class="form-control" />
                <span asp-validation-for="Contato_Funcionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contatodois_Funcionario" class="control-label"></label>
                <input asp-for="Contatodois_Funcionario" class="form-control" />
                <span asp-validation-for="Contatodois_Funcionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email_Funcionario" class="control-label"></label>
                <input asp-for="Email_Funcionario" class="form-control" />
                <span asp-validation-for="Email_Funcionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CEP_Funcionario" class="control-label"></label>
                <input asp-for="CEP_Funcionario" class="form-control" />
                <span asp-validation-for="CEP_Funcionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rua_Funcionario" class="control-label"></label>
                <input asp-for="Rua_Funcionario" class="form-control" />
                <span asp-validation-for="Rua_Funcionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bairro_Funcionario" class="control-label"></label>
                <input asp-for="Bairro_Funcionario" class="form-control" />
                <span asp-validation-for="Bairro_Funcionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cidade_Funcionario" class="control-label"></label>
                <input asp-for="Cidade_Funcionario" class="form-control" />
                <span asp-validation-for="Cidade_Funcionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado_Funcionario" class="control-label"></label>
                <input asp-for="Estado_Funcionario" class="form-control" />
                <span asp-validation-for="Estado_Funcionario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
