@model MVCMontadoraPP.Models.Compra

@{
    ViewData["Title"] = "Create";
}

    <h1 class="text-center">Criar Pedido</h1>
<br />

<hr />
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Peca_Compra" class="control-label"></label>
                <input asp-for="Peca_Compra" class="form-control" />
                <span asp-validation-for="Peca_Compra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fornecedor_Compra" class="control-label"></label>
                <input asp-for="Fornecedor_Compra" class="form-control" />
                <span asp-validation-for="Fornecedor_Compra" class="text-danger"></span>
                <div class="form-group">
                    <label asp-for="Quantidade_Compra" class="control-label"></label>
                    <select asp-for="Quantidade_Compra" class="form-control" id="Quantidade">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                    </select>
                    <span asp-validation-for="Quantidade_Compra" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label asp-for="ValorUnitatio_Compra" class="control-label"></label>
                        <input asp-for="ValorUnitatio_Compra" class="form-control" id="Valor" />
                        <span asp-validation-for="ValorUnitatio_Compra" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 form-group">
                        <label asp-for="ValorTotal_Compra" class="control-label"></label>
                        <input asp-for="ValorTotal_Compra" class="form-control" id="ValorTotal" />
                        <span asp-validation-for="ValorTotal_Compra" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-4 form-group">
        <input type="button" value="  Calcular  " onclick="Total()" class="btn btn-primary" id="Desativar" />
    </div>
    <div class="col-md-6 form-group">
        <input id="btn1" type="submit" value="    Create    " class="btn btn-primary" />
    </div>
</div>
<div class="row">
    <div class="col-md-7"></div>
    <div class="col-md-5">
        <a asp-action="Index">Back to List</a>
    </div>
</div>
<script type="text/javascript">
    //calcular total
    function Total() {
        var s1 = document.getElementById("Valor").value;
        var s2 = document.getElementById("Quantidade").value;
        s1 = Number(s1);
        s2 = Number(s2);
        var s3 = s1 * s2;
        parseFloat(s3);
        return document.getElementById("ValorTotal").value = s3;
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
